<div className="flex flex-col justify-center items-center align-middle h-screen">
  <div className="text-center">
    <img src="https://img.freepik.com/premium-vector/no-data-concept-illustration_86047-485.jpg?semt=ais_hybrid" alt="No Data" className="mx-auto mb-4" />
    <h1 className="text-lg font-medium mb-2">No Data Available</h1>
    <p className="text-lg font-medium bg-blue-500">Looks like there's nothing to show here right now. Try again later!</p>
  </div>
</div>
